.navbar {
    visibility: hidden;
    opacity: 0;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.75rem 1.25rem;
    z-index: 1000;
    transform: translateY(-100%);
    transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
    user-select: none;
}

.navbar.nav-visible {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

#cipher {
    letter-spacing: 0.3rem;
    white-space: nowrap;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 2rem;
}

.letter {
    display: inline-block;
    width: 2rem;
    text-align: center;
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 50%;
}

.navbar button {
    text-decoration: none;
    color: white;
    width: 7rem;
    height: 3rem;
    margin: 0.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 0.75rem;
    background-color: transparent;
    transition: background-color 0.2s ease;
    border: 1px solid transparent;
    cursor: pointer;
}

.nav-text {
    font-size: 1rem;
}

.navbar button:hover,
.navbar button.active {
    background-color: #007f00;
}

@media (max-width: 480px) {
    .nav-text {
        display: none;
    }

    .navbar {
        flex-direction: column;
        padding: 0;
    }

    #cipher {
        display: none;
    }

    .navbar ul {
        justify-content: space-evenly;
        width: 100%;
        gap: 0;
    }

    .navbar button {
        width: 3.5rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 420px) {
    .navbar button {
        font-size: 1.3rem;
    }
}

@media (max-width: 412px) {
    .navbar button {
        font-size: 1.1rem;
    }
}